<%- include('includes/start') %>
  <div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-200px">
        <!-- horizontal Basic Forms Start -->
        <div class="pd-20 card-box mb-30">
          <div class="clearfix">
            <div class="pull-left">
              <h4 class="text-blue h4">Add Pranch</h4>
              <p class="mb-30">
                Complete this form to add new pranch to the database
              </p>
            </div>
          </div>
          <form action="/admin/pranch/add" method="post">
            <div class="form-group">
              <label>Pranch Name</label>
              <input type="text" class="form-control" name="name" placeholder="Pranch Name..." />
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
        <!-- horizontal Basic Forms End -->
      </div>
      <%- include('includes/end') %>
    </div>
  </div>