<%- include('includes/start') %>
  <div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-200px">
        <!-- horizontal Basic Forms Start -->
        <div class="pd-20 card-box mb-30">
          <div class="clearfix">
            <div class="pull-left">
              <h4 class="text-blue h4">
                Select Reports Options
              </h4>
              <p class="mb-30">Complete this form to get reports data</p>
            </div>
          </div>
          <form method="post" action="reports">
            <div class="form-group col-6">
              <label>Year</label>
              <select name="pranch" id="">
                <option value="all" selected>All</option>
                <% pranchs.forEach(pranch=> { %>
                  <option value="<%= pranch.id %>">
                    <%= pranch.name %>
                  </option>
                  <% }) %>
              </select>
            </div>
            <div class="form-group col-6">
              <label>Year</label>
              <input type="number" class="form-control" id="year" name="year" placeholder="Year..." />
            </div>
            <div class="form-group col-6">
              <label>Month</label>
              <input type="number" class="form-control" id="month" name="month" placeholder="Month..." />
            </div>
            <button id="get" class="btn btn-primary">Get</button>
          </form>
        </div>
        <!-- horizontal Basic Forms End -->
      </div>
      <%- include('includes/end') %>
    </div>
  </div>