<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.devtik.com"> DevTik </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      , UI Designed by
      <a href="#" target="_blank">Creative Tim</a>
      And System Developed by
      <a href="https://www.devtik.com" target="_blank">DevTik</a>
    </div>
  </div>
</footer>
<%- include('end') %>
