<%- include('start') %> 
<div class="wrapper">
  <div
    class="sidebar"
    data-color="purple"
    data-background-color="white"
    data-image="/assets/img/sidebar-1.jpg"
  >
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
      <a href="http://www.DevTik.com" class="simple-text logo-normal">
        DevTik
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item <% if (tab == 'Dashboard') { %> 
            <%= "active" %>  "> 
          <% } else { %>
            ">
           <% } %> 
          <a class="nav-link" href="/">
            <i class="fas fa-chart-pie"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item <% if (tab == 'Employees') { %> 
            <%= "active" %>  "> 
          <% } else { %>
            ">
          <% } %> 
          <a class="nav-link" href="/employees">
            <i class="fas fa-address-book"></i>
            <p>Employees</p>
          </a>
        </li>
        <li class="nav-item <% if (tab == 'Add Employee') { %> 
            <%= "active" %>  "> 
          <% } else { %>
            ">
           <% } %> 
          <a class="nav-link" href="/employee/add">
            <i class="fas fa-user-plus"></i>
            <p>Add Employee</p>
          </a>
        </li>
        <li class="nav-item active-pro">
          <a class="nav-link" href="http://www.DevTik.com/support">
            <i class="fas fa-headset"></i>
            <p>Support</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
  </eslam>